.darkBackdrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(0, 0, 0, 0.705);
  backdrop-filter: blur(2px);

  & .container {
    position: relative;
    box-sizing: border-box;
    background-color: rgb(39, 161, 67);
    width: 35%;
    height: 90%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 4px 2px 20px 2px rgb(32, 32, 32);
    z-index: 10;
    overflow-y: auto;

    & .spinnerContainer {
      position: absolute;
      top: 45%;
      left: 45%;
    }

    & .closeButton {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      background-color: rgb(119, 58, 177);
      color: white;
      cursor: pointer;

      &:hover {
        background-color: rgb(135, 65, 201);
      }

      & svg {
        height: 1.7rem;
        width: 1.7rem;
      }
    }
  }
}
