.availabilityInputLabel {
  display: flex;
  gap: 1rem;
}

.editAvailabilityInputLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
  gap: 2rem;
  margin-left: 0;
  width: 100%;
  font-family: var(--roboto);

  & p {
    color: gray;
    font-size: 0.9rem;
    width: 5rem;
    text-align: center;
  }
}
