.sizeInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
  width: 12rem;

  .wrapper {
    display: flex;
    gap: 1rem;

    & .sizeList {
      display: flex;
      gap: 0.3rem;
      overflow-x: auto;

      & .size {
        display: flex;
        align-items: center;
        justify-content: center;
        border: white 1px solid;
        padding: 0.2rem;
        border-radius: 0.2rem;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover {
          border: red 1px solid;
        }
      }
    }
  }

  & input {
    width: 23%;
    font-family: var(--roboto);
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem;
    border: green 2px solid;
    border-radius: 0.5rem;
    background-color: rgb(39, 161, 67);
    outline: none;
  }

  & button {
    background-color: rgb(119, 58, 177);
    color: white;
    font-family: "Lobster", cursive;
    font-size: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(135, 65, 201);
    }
  }
}
