.sizeInputLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11rem;
  width: 12rem;

  .wrapper {
    display: flex;
    gap: 1rem;

    & .sizeList {
      display: flex;
      gap: 0.3rem;
      overflow-x: auto;

      & .size {
        display: flex;
        align-items: center;
        justify-content: center;
        border: white 1px solid;
        padding: 0.2rem;
        border-radius: 0.2rem;
        cursor: pointer;
        font-size: 0.9rem;

        &:hover {
          border: red 1px solid;
        }
      }
    }
  }

  & input {
    width: 23%;
    font-family: var(--roboto);
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem;
    border: green 2px solid;
    border-radius: 0.5rem;
    background-color: rgb(39, 161, 67);
    outline: none;
  }

  & button {
    background-color: rgb(119, 58, 177);
    color: white;
    font-family: "Lobster", cursive;
    font-size: 1rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;

    &:hover {
      background-color: rgb(135, 65, 201);
    }
  }
}

.editSizeInputLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  & p {
    color: gray;
    font-size: 0.9rem;
    width: 5rem;
    text-align: center;
  }

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    & input {
      text-align: center;
      color: gray;
      font-size: 0.8rem;
      font-family: var(--roboto);
      border: rgba(128, 128, 128, 0.699) 2px solid;
      text-align: center;
      border-radius: 0.5rem;
      padding: 0.2rem;
      width: 22%;
    }
  }

  & .sizeList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;

    & .size {
      border: #f12048 1px solid;
      padding: 0.2rem;
      font-weight: bold;
      font-size: 0.8rem;
      color: rgb(0, 48, 77);
      border-radius: 0.2rem;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  & button {
    color: #f12048;
    background-color: white;
    border: #f12048 2px solid;
    border-radius: 0.5rem;
    font-family: "Lobster", cursive;
    cursor: pointer;
    padding: 0.2rem 0.4rem 0.2rem 0.4rem;

    &:hover {
      color: white;
      background-color: #f12048;
    }
  }
}
