.titleInputLabel {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  & input {
    font-family: var(--roboto);
    font-size: 1.1rem;
    color: white;
    padding: 0.3rem;
    border: green 2px solid;
    border-radius: 0.5rem;
    background-color: rgb(39, 161, 67);
    outline: none;
  }
}

.editTitleInputLabel {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1rem;
  margin-left: 0;

  & p {
    color: gray;
    font-size: 0.8rem;
  }

  & input {
    color: #f12048;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    width: 60%;
    border: 2px #f12046e0 solid;
    text-align: center;
    margin-right: 1rem;
  }
}
