.productRow {
  & td:not(:last-child) {
    border-right: rgb(152, 90, 211) 2px solid;
  }

  & td {
    text-align: center;
    color: rgb(80, 36, 122);
    padding: 0.5rem;

    & .available {
      color: rgb(53, 175, 53);
      width: 2rem;
      height: 2rem;
    }

    & .notAvailable {
      color: rgb(255, 0, 76);
      width: 2rem;
      height: 2rem;
    }

    & div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    & button {
      border: none;
      color: white;
      background-color: rgb(80, 36, 122);
      font-size: 1.1rem;
      padding: 0.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 2.5rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(106, 61, 148);
      }
    }

    & .colorList {
      display: flex;
      gap: 0.4rem;

      & .colorDiv {
        display: flex;
        width: auto;
        border-radius: 50%;
        padding: 0.5rem;
      }
    }

    & .sizeList {
      display: flex;
      gap: 0.2rem;

      & .size {
        border: #f12048 1px solid;
        padding: 0.2rem;
        font-weight: bold;
        font-size: 0.8rem;
        color: rgb(0, 48, 77);
        border-radius: 0.2rem;
      }
    }
  }
}
