@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .loginForm {
    display: flex;
    background-color: rgba(210, 161, 255, 0.445);
    outline: rgb(152, 90, 211) 2px solid;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 45vh;
    justify-content: space-around;

    & h3 {
      font-family: "Lobster", cursive;
      font-size: 2rem;
      color: rgb(119, 58, 177);
    }

    & .userLabel,
    .passwordLabel {
      display: flex;
      flex-direction: column;
      font-family: var(--roboto);
      color: rgb(119, 58, 177);

      gap: 0.5rem;

      & input {
        background-color: rgba(210, 161, 255, 0.445);
        font-size: 1.1rem;
        width: 100%;
        padding: 0.4rem;
        color: rgb(119, 58, 177);
        border: rgb(152, 90, 211) 1px solid;
        outline: none;
        border-radius: 0.3rem;
      }
    }

    .loginButton {
      font-family: "Lobster", cursive;
      font-size: 1.3rem;
      background-color: rgb(119, 58, 177);
      color: white;
      border: none;
      padding: 0.5rem 1.2rem 0.5rem 1.2rem;
      border-radius: 0.3rem;
      cursor: pointer;

      &:hover {
        background-color: rgb(151, 72, 224);
      }
    }
  }
}
