@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.container {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .loginForm {
    display: flex;
    background-color: rgba(210, 161, 255, 0.445);
    outline: rgb(152, 90, 211) 2px solid;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 45vh;
    justify-content: space-around;

    & h3 {
      font-family: "Lobster", cursive;
      font-size: 2rem;
      color: rgb(152, 90, 211);
    }

    & .userLabel,
    .passwordLabel {
      display: flex;
      flex-direction: column;
      font-family: var(--roboto);
      color: rgb(152, 90, 211);
      gap: 0.5rem;
    }
  }
}
