.mainDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  outline: 2px red solid;
}

.productDisplay {
  outline: green 2px solid;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.productDisplay div {
  display: flex;
  height: 3rem;
  outline: red 2px solid;
}

.sizesDiv {
  display: flex;
  gap: 0.5rem;
}

.sizesDiv div {
  border: black 1px solid;
}

.colorDiv {
  display: flex;
  gap: 0.5rem;
}

.colorDiv div {
  padding: 1rem;
  border-radius: 50%;
}
