.Container {
  background-color: #72d0ea;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../public/flag.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CircleWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: white 3px solid;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px rgb(44, 44, 44);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.CircleWrapper__body {
  position: absolute;
  top: 0;
  left: 40;
}

.CircleWrapper__image {
  border-radius: 50%;
}

.Container__title {
  color: #f12048;
  font-family: "Lobster", cursive;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-shadow: 2px 2px rgb(29, 29, 29);
  letter-spacing: 0.15rem;
}

.Container__info {
  color: rgb(255, 255, 255);
  font-family: "Kanit", sans-serif;
  font-size: 1.3rem;
  text-shadow: 2px 2px rgb(29, 29, 29);
  line-height: 2rem;
}

.Container__info p {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  gap: 0.5rem;
}

.Info__svgIcon {
  color: #f12048;
  filter: drop-shadow(2px 3px 2px rgb(0 0 0 / 0.4));
}
