.Card {
  display: flex;
  border-radius: 0.5rem;
  flex-direction: column;
  font-family: var(--roboto);
  background-color: white;
  color: black;
}

.Card__image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.CardBody {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.CardBody__title {
  color: #f12048;
}
